.zeon-dropdown {
    padding: 4px;
    border-radius: 3px;
    margin: 5px;
    background-color: #ffebcd;
    border-color: #6b6b6b;
    width: 100%;
    height: 31px;
}

.zeon-textbox {
    width: 100%;
    padding: 3px;
    border: 1px solid #6b6b6b;
    border-radius: 3px;
    margin: 4px;
    height: 32px;
}

.zeon-button {
    margin: 4px;
    width: 100%;
    height: 32px;
    padding: 3px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #3276b1;
}

.zeon-link {
    margin: 4px;
    padding: 8px;
    background-color: #3276b1;
    border-radius: 3px;
    color: white;
    min-width: 150px;
}

.zeon-link:hover {
    text-decoration: none;
    color: gainsboro;
}

.zeon-toolSection {
    margin: 4px;
    width: 100%;
    height: 100%;
    border: 2px solid brown;
    border-radius: 3px;
}

.treeGate {
    border: 2px solid #fb0a0a;
    border-radius: 14px;
}

.treeGate > p {
    margin: 3px 8px 3px 8px;
}

.treeAttribute {
    border: 2px solid #1f11f3;
    border-radius: 10px;
}

.treeAttribute > p {
    margin: 3px;
}

.gate-control {
    display: inline-block;
    background: orange;
    padding: 5px;
    border-radius: 5px;
    margin: 1px;
}
.gate-control:hover {
    cursor: pointer;
}

.attribute-control {
    display: inline-block;
    background: lightgreen;
    padding: 5px;
    border-radius: 5px;
    margin: 1px;
}

.attribute-control:hover {
    cursor: pointer;
}

.attribute-value-control {
    background: lightgray;
    padding: 5px;
    border-radius: 5px;
    margin: 1px;
}

.node:hover {
    cursor: pointer;
}