@using GridMvc.Html
@using GridMvc.Sorting
@model WebServer.ViewModels.UsersListViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-4">
    @Html.ActionLink("Add User", "Add", "UserDetails", null,new { @class = "zeon-link" })
</div>

@Html.Grid(Model.Users).Columns(columns =>
{
    columns.Add(foo => foo.FirstName).Titled("First Name").SetWidth(240).Filterable(true).Sortable(true).SortInitialDirection(GridSortDirection.Descending);
    columns.Add(foo => foo.LastName).Titled("Last Name").SetWidth(240).Filterable(true).Sortable(true).SortInitialDirection(GridSortDirection.Descending);
    columns.Add().Titled("").SetWidth(30).Sanitized(false).Encoded(false).RenderValueAs(model => @Html.ActionLink(" ", "Index", "UserDetails", new { userId = model.UserId }, new { @class = " glyphicon glyphicon-eye-open", title = "Details" }).ToHtmlString());
    columns.Add().Titled("").SetWidth(30).Sanitized(false).Encoded(false).RenderValueAs(model => @Html.ActionLink(" ", "Delete", "Users", new { userId = model.UserId }, new { @class = " glyphicon glyphicon-trash", title = "Delete" }).ToHtmlString());
}).WithPaging(20).Sortable().WithMultipleFilters()